html {
	margin: 0;
	padding: 0;
	}
body { 
	font: 75% georgia, sans-serif;
	background-image: url("background.png");
	background-repeat:no-repeat;
        background-size:cover;
	line-height: 1.88889;
	color: #A9A9A9; 
	margin: 0; 
	padding: 0;
	}
p { 
	margin-top: 0; 
	text-align: justify;
	}
h1 {
	font: georgia, sans-serif;
	margin-bottom: 0;
	color: EFEFEF;
	}
h3 { 
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #7D775C;
	}
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #B7A5DF;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #D4CDDC;
	}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #9685BA;
	}

ul  {
	list-style-type: none;
	margin: 0;
	padding: 0;
    }
li {
	display: inline;
   }

table, th, td {
  border: 2px #A9A9A9;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}

/* specific divs */


header {
    background-color: #233237;
}
header h1 {
	margin: 0;
	position: center;
}
header h2 {
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 10; 
	color: #A9A9A9;
}

footer { 
	text-align: center; 
	}
footer a:link, footer a:visited { 
	margin-right: 20px; 
	}

.navbar {
	position: justify;
    margin-left: 5px;	
	}
.logo {
	position: justify;
    margin-left: 5px;
}
.imagesize {
	position: center-right
	height: 50px;
	width: 50px;
}

* {
	box-sizing: border-box
}
body {
	font-family: Verdana, sans-serif;
	margin:0
}
.mySlides1, .mySlides2, .mySlides3, .mySlides4, .mySlides5 {
	display: none
}
img {
	vertical-align: middle;
}
/* Slideshow container */
.slideshow-container {
	max-width: 200px;
	position: relative;
	margin:0 auto 25px;
}
/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 6px 6px 0;
	user-select: none;
}
/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
/* On hover, add a grey background color */
.prev:hover, .next:hover {
	background-color: #f1f1f1;
	color: black;
}
/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
 @-webkit-keyframes fade {
 from {
opacity: .4
}
to {
	opacity: 1
}
}
 @keyframes fade {
 from {
opacity: .4
}
to {
	opacity: 1
}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
.prev, .next, .text {
	font-size: 11px
}
}
/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.active, .dot:hover {
	background-color: #717171;
}
.image {
	height:100px;
	background:red;
}
.img1 {
	background:red
}
.img2 {
	background:yellow
}
.img3 {
	background:green
}
/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
  }